<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>舆情检索</title>
		<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/admin1.css"/>
		<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/Yq.css"/>
	</head>
	<body>
		<!-- 左侧导航-beg -->
	    {include file="public\_Left" /}
	    <!-- 左侧导航-end -->
		<div class="row">
            <!-- 顶部导航-beg -->
		    {include file="public\_Menu" /}
		    <!-- 顶部导航-end -->
			<!--表格1-->
			<div class="Div">
				<table class="Sele_table" cellpadding="0" border="1" width="1200" height="150">
					<tr>
						<td style="width: 10%;background-color: #f3f4fa"><span>时间</span></td>
						<td colspan="3" style="width: 40%">
							<ul id="list">
								<li onclick='g(this.id)' id="0">今天</li>
								<li onclick='g(this.id)' id="1">24小时</li>
								<li onclick='g(this.id)' id="3">3天</li>
								<li onclick='g(this.id)' id="7">7天</li>
								<li onclick='g(this.id)'id="-1">自定义</li>
							</ul>
			          </td >
					</tr>
					<tr>
						<td style="width: 10%;background-color: #f3f4fa"><span>省份</span></td>
						<td style="width: 40%">
							<select>
								<option value="0">新疆维吾尔自治区</option>
								<option>新疆维吾尔自治区1</option>
								<option>新疆维吾尔自治区2</option>
								<option>新疆维吾尔自治区3</option>
							</select>
						</td >
						<td style="width: 10%;background-color: #f3f4fa"><span>重点关注对象</span></td>
						<td style="width: 40%">
							<select>
								<option value="0">全部</option>
								<option>新疆维吾尔自治区1</option>
								<option>新疆维吾尔自治区2</option>
								<option>新疆维吾尔自治区3</option>
							</select>
						</td >
					</tr>
					<tr>
						<td style="width: 10%;background-color: #f3f4fa"><span>舆情属性(多选)</span></td>
						<td style="width: 40%">
							<form class="input">
								<input type="checkbox" value="全部"id="ckAll" /> 全部
								<div class="box">
									<input type="checkbox" value="负面"  name="checkname" id="fu"/> 负面
									<input type="checkbox" value="中性"  name="checkname" id="meddl" /> 中性
									<input type="checkbox" value="正面"  name="checkname" id="top" /> 正面
								</div>
							</form>
						</td >
						<td style="width: 10%;background-color: #f3f4fa"><span>舆情主题</span></td>
						<td style="width: 40%">
							<select>
								<option value="0">全部</option>
								<option>新疆维吾尔自治区1</option>
								<option>新疆维吾尔自治区2</option>
								<option>新疆维吾尔自治区3</option>
							</select>
						</td >
					</tr>
					<tr>
						<td style="width: 10%;background-color: #f3f4fa"><span>数据来源(多选)</span></td>
						<td style="width: 40%">
							<form class="input">
								<input type="checkbox" value="全部" id="ckAll1" /> 全部
								<div class="box1">
									<input type="checkbox" value="新闻网站" id="news" /> 新闻网站
									<input type="checkbox" value="政府网站" id="government" /> 政府网站
									<input type="checkbox" value="论坛" id="forum" /> 论坛
									<input type="checkbox" value="微博" id="wb" /> 微博
									<input type="checkbox" value="境外网站" id="overseas" /> 境外网站
								</div>

							</form>
						</td >
						<td style="width: 10%;background-color:#f3f4fa"><span>是否敏感</span></td>
						<td style="width: 40%">
							<select>
								<option value="0">全部</option>
								<option>新疆维吾尔自治区1</option>
								<option>新疆维吾尔自治区2</option>
								<option>新疆维吾尔自治区3</option>
							</select>
						</td >
					</tr>
				</table>
			</div>
			<!--表格2-->
			<div class="Div1">
				<div class="layui-form" id="table-list" style=" margin-left: 2.7%">
					<table id="tableData" lay-filter="test"></table>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="__STATIC__/index/js/jquery-3.3.1.js"></script>
		<script src="__STATIC__/index/js/layui1.js" type="text/javascript" charset="utf-8"></script>
		<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
		<script type="text/javascript">
			//默认选中全部
			$('#ckAll').prop('checked', true);
			$('.box input').prop('checked', true);
			//给所有 .box input 元素添加 checked =  ckAll 当前的状态；
			//prop('checked',value) ,第一个值获取属性，第二个值：设置属性值。prop只有一个参数时，表示获取元素属性。
			$('#ckAll').click(function(){
				$('.box input').prop('checked',$(this).prop('checked'));
				search();
			});
			$('.box input').click(function(){
				//each 便利每一个元素，让其执行该函数
				$('.box input').each(function(){
					if(!$(this).prop('checked')){
						$('#ckAll').prop('checked',false);
						//有一个不满足就 跳出该循环，避免执行下面
						return false;
					}else{
						$('#ckAll').prop('checked',true);
					}
				});
				search();
			})

			$('#ckAll1').click(function(){
				$('.box1 input').prop('checked',$(this).prop('checked'));
			});
			$('.box1 input').click(function(){
				//each 便利每一个元素，让其执行该函数
				$('.box1 input').each(function(){
					if(!$(this).prop('checked')){
						$('#ckAll1').prop('checked',false);
						//有一个不满足就 跳出该循环，避免执行下面
						//return false;
					}else{
						$('#ckAll1').prop('checked',true);
					}
				})
			})
		</script>
		<script>
			function g(x)
			{
				d=document.getElementsByTagName('li')
				for(p=d.length;p--;){
					if(d[p].id!=x){
						d[p].style.color='#000'/*其他*/
						d[p].classList.remove("checked");
					}else{
						d[p].style.color='#1d83ef';/*点击的*/
						d[p].classList.add("checked");
					}
				}
				search();
			}
			
			//渲染表格数据
			function showTable(data) {
				var table = layui.table;
				table.render({
					elem: '#tableData',
				    width: 1200,
					height: 500,
				    data: data,
				    page: true, //开启分页
				    cols: [[ //表头
				        {field:'news_title', width:260, align: 'center', title: '新闻标题',
						   templet:function(d){
							 return '<a class="New">'+d.news_title+'</a>';
					    }},
						{field:'news_emotion', width:180,align: 'center', title: '舆情属性'},
						{field:'news_source', width:180, sort: true, align: 'center', title: '新闻来源'},
						{field:'news_emotion', width:180, align: 'center', title: '相似文章',
						   templet:function(d){
							 return '--';
						}},
						{field:'news_time', width:180, sort: true, align: 'center', title: '时间'},
						{field:'experience', width:180, align: 'center', title: '操作',
					       templet:function(d){
							 return '<span><a class="New">查看原文</a></span>'
							        +'<span style="padding-left: 7%"><a class="New" href="javascript:collectionHandler('
							        +d.id+',\''+d.news_collect+'\')">'+d.news_collect+'</a></span>';
					    }}
				    ]]
				});
			}
			
			//收藏
			function collectionHandler(id, collect) {
				 if(collect == "已收藏") {
					 if(confirm("是否取消收藏？")){
					    $.ajax({
							type:"post",
							contentType: 'application/x-www-form-urlencoded;charset=utf-8',
							url:"{:url('uncollectNews')}",
							data:{id: id},
							dataType: "json",
							success:function(data){
								showTable(data.data);
							},
							error:function(e){  
					            console.log(e);  
							}
						});
					 }
				 }else if(collect == "收藏") {
					 $.ajax({
						type:"post",
						contentType: 'application/x-www-form-urlencoded;charset=utf-8',
						url:"{:url('collectNews')}",
						data:{id: id},
						dataType: "json",
						success:function(data){
							alert("已收藏！");
							showTable(data.data);
						},
						error:function(e){  
				            console.log(e);  
						}
					});
				 }
			}
			
			//搜索列表
			function search() {
				var start = $("#start_time").val();
				var end = $("#end_time").val();
				var time = "";
				$("#list li").each(function() {
					if($(this).hasClass('checked')) {
						time = $(this).attr('id');
					}
				});
				var emotionArr = [];
				$('.box input').each(function(){
					if($(this).prop('checked')) {
						emotionArr.push($(this).val());
					}
				});
				
				$.ajax({
					type:"post",
					contentType: 'application/x-www-form-urlencoded;charset=utf-8',
					url:"{:url('SearchList')}",
					data:{
						emotion: emotionArr,
						start: start,
						end: end,
						time: time
					},
					dataType: "json",
					success:function(data){
						showTable(data.data);
					},
					error:function(e){  
			            console.log(e);  
					}
				});
			}
		</script>
		<script>
			layui.use('table', function () {
				var table = layui.table;
				//监听表格复选框选择
				table.on('checkbox(demo)', function (obj) {
					console.log(obj)
				});
				//监听工具条
				table.on('tool(demo)', function (obj) {
					var data = obj.data;
					if (obj.event === 'detail') {
						layer.msg('ID：' + data.id + ' 的查看操作');
					} else if (obj.event === 'del') {
						layer.confirm('真的删除行么', function (index) {
							obj.del();
							layer.close(index);
						});
					} else if (obj.event === 'edit') {
						layer.alert('编辑行：<br>' + JSON.stringify(data))
					}
				});

				var $ = layui.$, active = {
					getCheckData: function () { //获取选中数据
						var checkStatus = table.checkStatus('idTest')
								, data = checkStatus.data;
						layer.alert(JSON.stringify(data));
					}
					, getCheckLength: function () { //获取选中数目
						var checkStatus = table.checkStatus('idTest')
								, data = checkStatus.data;
						layer.msg('选中了：' + data.length + ' 个');
					}
					, isAll: function () { //验证是否全选
						var checkStatus = table.checkStatus('idTest');
						layer.msg(checkStatus.isAll ? '全选' : '未全选')
					}
				};

				$('.demoTable .layui-btn').on('click', function () {
					var type = $(this).data('type');
					active[type] ? active[type].call(this) : '';
				});
				
				//初始化表格数据
				table.render({
				    elem: '#tableData',
				    width: 1200,
					height: 500,
				    url: 'SearchList',
				    page: true, //开启分页
				    cols: [[ //表头
				        {field:'news_title', width:260, align: 'center', title: '新闻标题',
				           templet:function(d){
					         return '<a class="New">'+d.news_title+'</a>';
			            }},
						{field:'news_emotion', width:180,align: 'center', title: '舆情属性'},
						{field:'news_source', width:180, sort: true, align: 'center', title: '新闻来源'},
						{field:'news_emotion', width:180, align: 'center', title: '相似文章',
				           templet:function(d){
						         return '--';
				        }},
						{field:'news_time', width:180, sort: true, align: 'center', title: '时间'},
						{field:'experience', width:180, align: 'center', title: '操作',
			               templet:function(d){
					         return '<span><a class="New">查看原文</a></span>'
					         		+'<span style="padding-left: 7%"><a class="New" href="javascript:collectionHandler('
					         		+d.id+',\''+d.news_collect+'\')">'+d.news_collect+'</a></span>';
			            }}
				    ]]
				 });
				//重新渲染表格
				search();
			});
		</script>
	</body>
</html>
