<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>预警中心</title>
		<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/admin1.css" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/layui.css" />
	</head>

	<body>
		<!-- 左侧导航-beg -->
	    {include file="public\_Left" /}
	    <!-- 左侧导航-end -->
		<div class="row">
			<!-- 顶部导航-beg -->
		    {include file="public\_Menu" /}
		    <!-- 顶部导航-end -->
			<div style="margin-top: 1.2%;display: inline-block;height: 400px;width: 644px;background: #FFFFFF;margin-left: 1%;border-radius: 10px;">
				<span class="yline"></span>
				<span style="position: absolute;top: 13%;left: 3.8%;font-weight: 800;">
					预警来源设置
				</span>
				<span style="position: absolute;top: 13%;left: 35%;color: #8f94a1;">
					预警接收一键开关
					<span style="position: absolute;top: -1%;right: -50%;">
						<input type="checkbox" name="sex" id="male" class="chooseBtn" />
					    <label for="male" class="choose-label">
                        </label>
					</span>
				</span>
				<span style="position: absolute;top: 19%;left: 2.6%;font-weight: 600;font-size: 40px;">
					3067
				</span>
				<span style="position: absolute;top: 25%;left: 2.6%;color: #8f94a1;">
					关键词预警信息量
				</span>
				<div class="layui-anim layui-anim-scaleSpring yuan">
					<img src="__STATIC__/index/images/yj.png" style="position: absolute;top: 22%;left: 33%;" />
					<span style="position: absolute;top: 130px;left: 30%;color: #FFFFFF;font-size: 20px;">
						预警设置
					</span>
				</div>
				<div class="layui-anim layui-anim-scaleSpring yuan1">
					<span style="position: absolute;top: 60px;left: 25%;color: #FFFFFF;font-size: 20px;">
						接收设置
					</span>
				</div>
				<div class="layui-anim layui-anim-scaleSpring yuan2">
					<span style="position: absolute;top: 60px;left: 18%;color: #FFFFFF;font-size: 20px;">
						关键词设置
					</span>
				</div>
			</div>

			<div style="display: inline-block;height: 400px;width: 644px;background: #FFFFFF;margin-left: 1%;border-radius: 10px;">
				<span class="yline1"></span>
				<span style="position: absolute;top: 13%;left: 53.5%;font-weight: 800;">
					预警趋势
				</span>
				<div class="layui-form">
					<table class="layui-table" style="width: 93%;margin: 9% auto;">
						<colgroup>
							<col width="50">
							<col width="50">
							<col width="50">
							<col width="50">
							<col width="50">
						</colgroup>
						<thead>
							<tr>
								<th class="a">红色预警</th>
								<th class="b">红色预警</th>
								<th class="c">黄色预警</th>
								<th class="d">灰色预警</th>
								<th class="e">绿色预警</th>
							</tr>
						</thead>
						<tbody>
							<tr align="center">
								<td>POI>800</td>
								<td>POI>600</td>
								<td>POI>300</td>
								<td>POI>100</td>
								<td>POI>100</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div id="zhu" style="height: 300px;width: 47%;position: absolute;left: 51%;margin-top: -8%;"></div>
			</div>

			<div style="height: 400px;width: 99%;background: #FFFFFF;margin-left: 1%;margin-top: 1.2%;border-radius: 10px;">
				<span class="yline2"></span>
				<span style="position: absolute;top: 69%;left: 3.8%;font-weight: 800;">
					预警信息列表
				</span>
				<div style="position: absolute;top: 73%;left: 1.5%;">
					<table class="layui-hide" id="test"></table>
				</div>
			</div>

			<div style="height: 20px;">

			</div>

		</div>
	</body>
	<script src="__STATIC__/index/js/layui1.js" type="text/javascript" charset="utf-8"></script>
	<script src="__STATIC__/index/js/echarts.js" type="text/javascript" charset="utf-8"></script>

	<script type="text/javascript">
		var dom = document.getElementById("zhu");
		var myChart = echarts.init(dom);
		var app = {};
		option = null;
		app.title = '堆叠柱状图';

		option = {
			tooltip: {
				trigger: 'axis',
				axisPointer: { // 坐标轴指示器，坐标轴触发有效
					type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
				}
			},
			grid: {
				left: '3%',
				right: '4%',
				bottom: '3%',
				containLabel: true
			},
			xAxis: [{
				type: 'category',
				data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
			}],
			yAxis: [{
				type: 'value'
			}],
			series: [{
					name: '直接访问',
					type: 'bar',
					data: [320, 332, 301, 334, 390, 330, 320]
				},
				{
					name: '邮件营销',
					type: 'bar',
					stack: '广告',
					data: [120, 132, 101, 134, 90, 230, 210]
				},
				{
					name: '联盟广告',
					type: 'bar',
					stack: '广告',
					data: [220, 182, 191, 234, 290, 330, 310]
				},
				{
					name: '视频广告',
					type: 'bar',
					stack: '广告',
					data: [150, 232, 201, 154, 190, 330, 410]
				},
				{
					name: '搜索引擎',
					type: 'bar',
					data: [862, 1018, 964, 1026, 1679, 1600, 1570],
					markLine: {
						lineStyle: {
							normal: {
								type: 'dashed'
							}
						},
						data: [
							[{
								type: 'min'
							}, {
								type: 'max'
							}]
						]
					}
				},
				{
					name: '百度',
					type: 'bar',
					barWidth: 5,
					stack: '搜索引擎',
					data: [620, 732, 701, 734, 1090, 1130, 1120]
				},
				{
					name: '谷歌',
					type: 'bar',
					stack: '搜索引擎',
					data: [120, 132, 101, 134, 290, 230, 220]
				},
				{
					name: '必应',
					type: 'bar',
					stack: '搜索引擎',
					data: [60, 72, 71, 74, 190, 130, 110]
				},
				{
					name: '其他',
					type: 'bar',
					stack: '搜索引擎',
					data: [62, 82, 91, 84, 109, 110, 120]
				}
			]
		};;
		if(option && typeof option === "object") {
			myChart.setOption(option, true);
		}
	</script>

    <script type="text/javascript">
    	layui.use('table', function(){
  var table = layui.table;
  
  table.render({
    elem: '#test'
//  ,url:'/demo/table/user/'
    ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
      layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
      //,curr: 5 //设定初始在第 5 页
      ,groups: 1 //只显示 1 个连续页码
      ,first: false //不显示首页
      ,last: false //不显示尾页
      
    }
    ,width: 1290
    ,cols: [[
       {type:'checkbox',}
      ,{field:'id', width:950,}
      ,{field:'username', width:100,}
      ,{field:'sex', width:100,}
      ,{field:'city', width:100,}
    ]],
    data: [{
					"id": "1000",
					"sf": "内蒙古自治区",
					"yq": "255"
				},
				{
					"id": "1000",
					"sf": "内蒙古自治区",
					"yq": "255"
				},
				{
					"id": "1000",
					"sf": "内蒙古自治区",
					"yq": "255"
				},
				{
					"id": "1000",
					"sf": "内蒙古自治区",
					"yq": "255"
				},
				{
					"id": "1000",
					"sf": "内蒙古自治区",
					"yq": "255"
				},
				{
					"id": "1000",
					"sf": "内蒙古自治区",
					"yq": "255"
				},
			]
    
  });
});
    </script>
</html>