<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>舆情检索</title>
	<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/admin1.css"/>
	<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/layui.css"/>
	<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/Yq.css"/>
</head>
<body>
<!-- 左侧导航-beg -->
{include file="public\_Left" /}
<!-- 左侧导航-end -->
<div class="row" style="height: 1450px">
	<!-- 顶部导航-beg -->
	{include file="public\_Menu" /}
	<!-- 顶部导航-end -->
	<div class="Div" style="height: 15px">
		<div class="layui-col-md12">
			<h3>综合评分</h3>
		</div>
	</div>
	<div class="Div" style="height: 450px">
		<div class="layui-col-md12">
			<div class="layui-col-md6">
				<h3>瓶颈&速度分析</h3>
				<!--part1-1-->
				<div id="part1-1" style="height:400px;width:100%;">
				</div>
			</div>
			<div class="layui-col-md6">
				<div id="part1-2" style="height:400px;width:100%;"></div>
			</div>
		</div>
	</div>
	<!--<div class="Div">
		<div class="layui-col-md6">
			<h3>分段&运营商分析</h3>
			<div class="layui-col-md6">
				<div id="part2-1-1" style="height:150px;width:100%;"></div>
			</div>
			<div class="layui-col-md6">
				<div id="part2-1-2" style="height:150px;width:100%;"></div>
			</div>
		</div>
		<div class="layui-col-md6">
			<div id="three_in_one" style="height:300px;width:100%;"></div>
		</div>
	</div>-->
	<div class="Div" style="height: 300px">
		<div class="layui-col-md6">
			<h3>浏览器&元素分析</h3>
			<div class="layui-col-md4">
				<div id="ie" style="height:300px;width:100%;"></div>
			</div>
			<div class="layui-col-md4">
				<div id="firefox" style="height:300px;width:100%;"></div>
			</div>
			<div class="layui-col-md4">
				<div id="chrome" style="height:300px;width:100%;"></div>
			</div>
		</div>
		<div class="layui-col-md6">
			<div id="part3-2" style="height:300px;width:100%;"></div>
		</div>
	</div>
	<div class="Div" style="height: 300px">
		<div class="layui-col-md12">
			<h3>终端&分辨率分析</h3>
			<div id="part4" style="height:300px;width:100%;"></div>
		</div>
	</div>
	<!--表格1-->
</div>
<script type="text/javascript" src="__STATIC__/index/js/jquery-3.3.1.js"></script>

<script src="__STATIC__/index/js/layui1.js" type="text/javascript" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script src="__STATIC__/index/js/echarts.js"></script>
</body>
<!--3in1-->
<script>
	var myChart_3in1 = echarts.init(document.getElementById("three_in_one"), 'walden');
	var option_3in1 = {
		tooltip : {
			trigger: 'axis',
			axisPointer : {            // 坐标轴指示器，坐标轴触发有效
				type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
			}
		},
		legend: {
			data:['整页时间','首屏时间','白屏时间',]
		},
		grid: {
			left: '3%',
			right: '4%',
			bottom: '3%',
			containLabel: true
		},
		xAxis : [
			{
				type : 'category',
				data : ['移动','电信','联通']
			}
		],
		yAxis : [
			{
				type : 'value'
			}
		],
		series : [
			{
				name:'白屏时间',
				type:'bar',
				data:[320, 332, 301]
			},
			{
				name:'首屏时间',
				type:'bar',
				stack: '广告',
				data:[120, 132, 101]
			},
			{
				name:'整页时间',
				type:'bar',
				stack: '广告',
				data:[220, 182, 191]
			},

		]
	};
	myChart_3in1.setOption(option_3in1);
</script>
<script>
	var myChart_ie = echarts.init(document.getElementById("ie"), 'walden');
	option_ie = {
		angleAxis: {
		},
		radiusAxis: {
			type: 'category',
			data: ['', '', ''],
			z: 10
		},
		polar: {
		},
		series: [{
			type: 'bar',
			data: [1, 2, 3],
			coordinateSystem: 'polar',
			name: 'A',
			stack: 'a'
		}, {
			type: 'bar',
			data: [2, 4, 6],
			coordinateSystem: 'polar',
			name: 'B',
			stack: 'a'
		}, {
			type: 'bar',
			data: [1, 2, 3],
			coordinateSystem: 'polar',
			name: 'C',
			stack: 'a'
		}],
		legend: {
			show: true,
			data: ['A', 'B', 'C']
		}
	};

	myChart_ie.setOption(option_ie);
</script>
<script>
	var myChart_chrome = echarts.init(document.getElementById("chrome"), 'walden');
	option_chrome = {
		angleAxis: {
		},
		radiusAxis: {
			type: 'category',
			data: ['', '', ''],
			z: 10
		},
		polar: {
		},
		series: [{
			type: 'bar',
			data: [1, 2, 3],
			coordinateSystem: 'polar',
			name: 'A',
			stack: 'a'
		}, {
			type: 'bar',
			data: [2, 4, 6],
			coordinateSystem: 'polar',
			name: 'B',
			stack: 'a'
		}, {
			type: 'bar',
			data: [1, 2, 3],
			coordinateSystem: 'polar',
			name: 'C',
			stack: 'a'
		}],
		legend: {
			show: true,
			data: ['A', 'B', 'C']
		}
	};

	myChart_chrome.setOption(option_chrome);
</script>
<script>
	var myChart_firefox = echarts.init(document.getElementById("firefox"), 'walden');
	option_firefox = {
		angleAxis: {
		},
		radiusAxis: {
			type: 'category',
			data: ['', '', ''],
			z: 10
		},
		polar: {
		},
		series: [{
			type: 'bar',
			data: [1, 2, 3],
			coordinateSystem: 'polar',
			name: 'A',
			stack: 'a'
		}, {
			type: 'bar',
			data: [2, 4, 6],
			coordinateSystem: 'polar',
			name: 'B',
			stack: 'a'
		}, {
			type: 'bar',
			data: [1, 2, 3],
			coordinateSystem: 'polar',
			name: 'C',
			stack: 'a'
		}],
		legend: {
			show: true,
			data: ['A', 'B', 'C']
		}
	};

	myChart_firefox.setOption(option_firefox);
</script>
<!--part1-1-->
<script type="text/javascript">
	// 基于准备好的容器(这里的容器是id为chart1的div)，初始化echarts实例
	var chart1 = echarts.init(document.getElementById("part1-1"));

	// 指定图表的配置项和数据
	var option = {
		backgroundColor: 'rgba(255,255,255,0.5)',         // 背景色，默认无背景	rgba(51,255,255,0.7)

		title: {
			text: '',
			target: 'blank',
			top: '5%',
			left: '3%',
			textStyle: {
				color: '#fff',
				fontSize: 20,
			}
		},

		legend: {                        // 图例组件
			show: true,
			icon: 'rect',                   // 图例项的 icon。ECharts 提供的标记类型包括 'circle', 'rect', 'roundRect', 'triangle', 'diamond', 'pin', 'arrow'也可以通过 'image://url' 设置为图片，其中 url 为图片的链接，或者 dataURI。可以通过 'path://' 将图标设置为任意的矢量路径。
			top : '40%',                    // 图例距离顶部边距
			left : '15%',                   // 图例距离左侧边距
			itemWidth: 10,                  // 图例标记的图形宽度。[ default: 25 ]
			itemHeight: 10,                 // 图例标记的图形高度。[ default: 14 ]
			itemGap: 30,                	// 图例每项之间的间隔。[ default: 10 ]横向布局时为水平间隔，纵向布局时为纵向间隔。
			orient: 'vertical',             // 图例列表的布局朝向,'horizontal'为横向,''为纵向.
			textStyle: {                    // 图例的公用文本样式。
				fontSize: 15,
				color: '#fff'
			},
			data: [{                    // 图例的数据数组。数组项通常为一个字符串，每一项代表一个系列的 name（如果是饼图，也可以是饼图单个数据的 name）。图例组件会自动根据对应系列的图形标记（symbol）来绘制自己的颜色和标记，特殊字符串 ''（空字符串）或者 '\n'（换行字符串）用于图例的换行。
				// 图例项的名称，应等于某系列的name值（如果是饼图，也可以是饼图单个数据的 name）。
				icon: 'rect',               // 图例项的 icon。
				textStyle: {                // 图例项的文本样式。
					color: 'rgba(51,0,255,1)',
					fontWeight: 'bold'		// 文字字体的粗细，可选'normal'，'bold'，'bolder'，'lighter'
				}
			}],
		},

		radar: [{                       // 雷达图坐标系组件，只适用于雷达图。
			center: ['50%', '50%'],             // 圆中心坐标，数组的第一项是横坐标，第二项是纵坐标。[ default: ['50%', '50%'] ]
			radius: 160,                        // 圆的半径，数组的第一项是内半径，第二项是外半径。
			startAngle: 90,                     // 坐标系起始角度，也就是第一个指示器轴的角度。[ default: 90 ]
			name: {                             // (圆外的标签)雷达图每个指示器名称的配置项。
				formatter: '{value}',
				textStyle: {
					fontSize: 15,
					color: '#000'
				}
			},
			nameGap: 15,                        // 指示器名称和指示器轴的距离。[ default: 15 ]
			splitNumber: 5,                     // (这里是圆的环数)指示器轴的分割段数。[ default: 5 ]
			shape: 'polygon',                    // 雷达图绘制类型，支持 'polygon'(多边形) 和 'circle'(圆)。[ default: 'polygon' ]
			axisLine: {                         // (圆内的几条直线)坐标轴轴线相关设置
				lineStyle: {
					color: '#fff',                   // 坐标轴线线的颜色。
					width: 1,                      	 // 坐标轴线线宽。
					type: 'solid',                   // 坐标轴线线的类型。
				}
			},
			splitLine: {                        // (这里是指所有圆环)坐标轴在 grid 区域中的分隔线。
				lineStyle: {
					color: '#fff',                       // 分隔线颜色
					width: 2, 							 // 分隔线线宽
				}
			},
			splitArea: {                        // 坐标轴在 grid 区域中的分隔区域，默认不显示。
				show: true,
				areaStyle: {                            // 分隔区域的样式设置。
					color: ['rgba(250,250,250,0.3)','rgba(200,200,200,0.3)'],       // 分隔区域颜色。分隔区域会按数组中颜色的顺序依次循环设置颜色。默认是一个深浅的间隔色。
				}
			},
			indicator: [{               // 雷达图的指示器，用来指定雷达图中的多个变量（维度）,跟data中 value 对应
				name: '系统',                           // 指示器名称
				max: 100,                               // 指示器的最大值，可选，建议设置
				//color: '#fff'                           // 标签特定的颜色。
			}, {
				name: '网络',
				max: 100
			}, {
				name: '安全',
				max: 100
			}, {
				name: '速度',
				max: 100
			}, {
				name: '后端',
				max: 100
			}, {
				name: '前端',
				max: 100
			}]
		}],
		series: [{
			name: '雷达图',             // 系列名称,用于tooltip的显示，legend 的图例筛选，在 setOption 更新数据和配置项时用于指定对应的系列。
			type: 'radar',              // 系列类型: 雷达图
			itemStyle: {                // 折线拐点标志的样式。
				normal: {                   // 普通状态时的样式
					lineStyle: {
						width: 1
					},
					opacity: 0.2
				},
				emphasis: {                 // 高亮时的样式
					lineStyle: {
						width: 6
					},
					opacity: 1
				}
			},
			data: [ {
				name: '',
				value: [95, 89, 85, 92, 95,97],
				symbol: 'circle',
				symbolSize: 5,
				label: {
					normal: {
						show: true,
						position: 'top',
						distance: 5,
						color: 'rgba(51,0,255,1)',
						fontSize: 14,
						formatter:function(params) {
							return params.value;
						}
					}
				},
				itemStyle: {
					normal: {
						borderColor: 'rgba(51,0,255,1)',
						borderWidth: 3,
					}
				},
				lineStyle: {
					normal: {
						opacity: 0.5
					}
				},
				areaStyle: {
					normal: {
						color: 'rgba(51,0,255,0.5)'
					}
				}
			}]
		}, ]
	};

	// 使用刚指定的配置项和数据显示图表
	chart1.setOption(option)
</script>
<!--part1-2-->
<script>
	var myChart_1_2 = echarts.init(document.getElementById("part1-2"), 'walden');
	option_1_2 = {
		title: {
			text: ''
		},
		tooltip : {
			trigger: 'axis',
			axisPointer: {
				type: 'cross',
				label: {
					backgroundColor: '#6a7985'
				}
			}
		},
		legend: {
			data:['白屏时间','首屏时间','整页时间']
		},
		toolbox: {
			feature: {
				saveAsImage: {}
			}
		},
		grid: {
			left: '3%',
			right: '4%',
			bottom: '3%',
			containLabel: true
		},
		xAxis : [
			{
				type : 'category',
				boundaryGap : false,
				data : ['周一','周二','周三','周四','周五','周六','周日']
			}
		],
		yAxis : [
			{
				type : 'value'
			}
		],
		series : [
			{
				name:'白屏时间',
				type:'line',
				stack: '总量',
				areaStyle: {},
				data:[120, 132, 101, 134, 90, 230, 210]
			},
			{
				name:'首屏时间',
				type:'line',
				stack: '总量',
				areaStyle: {},
				data:[220, 182, 191, 234, 290, 330, 310]
			},
			{
				name:'整页时间',
				type:'line',
				stack: '总量',
				areaStyle: {},
				data:[150, 232, 201, 154, 190, 330, 410]
			},
		]
	};

	myChart_1_2.setOption(option_1_2);
</script>
<!--part2-1-1-->
<script>
	var myChart_2_1_1 = echarts.init(document.getElementById("part2-1-1"), 'walden');
	myChart_2_1_1.setOption(option_2_1_1);
</script>
<!--part2-1-2-->
<script>
	var myChart_2_1_2 = echarts.init(document.getElementById("part2-1-2"), 'walden');
	myChart_2_1_2.setOption(option_2_1_2);
</script>
<!--part3-2-->
<script>
	var myChart_3_2 = echarts.init(document.getElementById("part3-2"), 'walden');
	option_3_2 = {
		backgroundColor: '',

		title: {
			text: '',
			left: 'center',
			top: 20,
			textStyle: {
				color: '#ccc'
			}
		},

		tooltip : {
			trigger: 'item',
			formatter: "{a} <br/>{b} : {c} ({d}%)"
		},

		visualMap: {
			show: false,
			min: 80,
			max: 600,
			inRange: {
				colorLightness: [0, 1]
			}
		},
		series : [
			{
				name:'访问来源',
				type:'pie',
				radius : '55%',
				center: ['50%', '50%'],
				data:[
					{value:335, name:'直接访问'},
					{value:310, name:'邮件营销'},
					{value:274, name:'联盟广告'},
					{value:235, name:'视频广告'},
					{value:400, name:'搜索引擎'}
				].sort(function (a, b) { return a.value - b.value; }),
				roseType: 'radius',
				label: {
					normal: {
						textStyle: {
							color: 'rgba(255, 255, 255, 0.3)'
						}
					}
				},
				labelLine: {
					normal: {
						lineStyle: {
							color: 'rgba(255, 255, 255, 0.3)'
						},
						smooth: 0.2,
						length: 10,
						length2: 20
					}
				},
				itemStyle: {
					normal: {
						color: '#c23531',
						shadowBlur: 200,
						shadowColor: 'rgba(0, 0, 0, 0.5)'
					}
				},

				animationType: 'scale',
				animationEasing: 'elasticOut',
				animationDelay: function (idx) {
					return Math.random() * 200;
				}
			}
		]
	};
	myChart_3_2.setOption(option_3_2);
</script>
<!--part4-->
<script>
	var myChart_part4 = echarts.init(document.getElementById("part4"), 'walden');
	option_part4 = {
		tooltip : {
			trigger: 'axis',
			axisPointer : {            // 坐标轴指示器，坐标轴触发有效
				type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
			}
		},
		legend: {
			data: ['直接访问', '邮件营销','联盟广告','视频广告','搜索引擎']
		},
		grid: {
			left: '3%',
			right: '4%',
			bottom: '3%',
			containLabel: true
		},
		yAxis:  {
			type: 'value'
		},
		xAxis: {
			type: 'category',
			data: ['720*1280','1536*2048','1366*768','1536*2048','768*1024','1366*768']
		},
		series: [
			{
				name: '直接访问',
				type: 'bar',
				stack: '总量',
				label: {
					normal: {
						show: true,
						position: 'insideRight'
					}
				},
				data: [320, 302, 301, 334, 390, 330]
			},
			{
				name: '邮件营销',
				type: 'bar',
				stack: '总量',
				label: {
					normal: {
						show: true,
						position: 'insideRight'
					}
				},
				data: [120, 132, 101, 134, 90, 230]
			},
			{
				name: '联盟广告',
				type: 'bar',
				stack: '总量',
				label: {
					normal: {
						show: true,
						position: 'insideRight'
					}
				},
				data: [220, 182, 191, 234, 290, 330]
			},
			{
				name: '视频广告',
				type: 'bar',
				stack: '总量',
				label: {
					normal: {
						show: true,
						position: 'insideRight'
					}
				},
				data: [150, 212, 201, 154, 190, 330]
			},
			{
				name: '搜索引擎',
				type: 'bar',
				stack: '总量',
				label: {
					normal: {
						show: true,
						position: 'insideRight'
					}
				},
				data: [820, 832, 901, 934, 1290, 1330]
			}
		]
	};
	myChart_part4.setOption(option_part4);
</script>
<!--part2-1-->
<script>
	var myChart_firefox = echarts.init(document.getElementById("firefox"), 'walden');
	myChart_firefox.setOption(option_firefox);
</script>
<script src="../../__STATIC__/js/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="../../__STATIC__/js/echarts.min.js"></script>

</html>
